altair==4.2.0
Jinja2==3.0.1
numpy==1.21.0
pandas==1.4.2
pdfkit==1.0.0
plotly==5.8.1
python_dateutil==2.8.2
requests==2.25.1
streamlit==1.12.0
pdfkit==1.0.0
openpyxl==3.0.10
streamlit-aggrid==0.2.3
wkhtmltopdf==0.2
wkhtmltopdf-pack-ng==0.12.3.0
reportlab==3.6.12