
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

    
<body>


    <table class="table table-dark table-striped" >
      <tr>
        <tr>
          {% for column in df1.columns %}
          <th>{{ column }}</th>
          {% endfor %}
      </tr>
      {% for idx, row in df1.iterrows() %}
      <tr>
          {% for colname in df1.columns %}
          <td>{{ row[colname] }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
    </table>


    <table class="table table-dark table-striped">
        <tr>
            {% for column in df.columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for idx, row in df.iterrows() %}
        <tr>
            {% for colname in df.columns %}
            <td>{{ row[colname] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
    
</html>

